.title {
    font-size: 24px;
    color: white;
    font-family: 'Cairo', sans-serif;
    text-align: center;
  }
  
  .subTitle {
    font-size: 14px;
    color: white;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: 400;
  }
  
  body {
  direction: rtl;
    font-family: 'Cairo', sans-serif;
  }
  
  .offcanvas-body {
    padding: 0px !important;
  }
  
  .responsiveNav {
    display: none !important;
  }
  
  .resposive-container {
    display: flex;
  }
  .responsive-sideBar{
    background-color: white;
  }
  .basic-single{
    width: 100% ;
  }
  
  
  .main-page {
  width: 100%;
  }
  @media (max-width:1150px) {
    .responsive-sideBar {
      display: none;
    }
    .main-page {
     
      width: 100%;
    }
    .responsiveNav {
      display: block !important;
    }
  
    .resposive-container {
      display: block;
    }
  }
  .SlickDots{
    position: absolute;
    bottom: -25px;
    display: flex !important;
    width: 100%;
    padding: 0;
    justify-content: center;
    margin: 0;
    gap: 5px;
    list-style: none;
    text-align: center;
  
  }  
  .SlickDot{
    background-color: #E4EBF1;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  .slick-active a{
   width: 40px;
   border-radius: 14px;
   background-color: #C0CDD8;
  }
  
  .ar {
    direction: rtl;
  
  }
  .en {
    direction: ltr;
  
  }
  div[dir="rtl"]  .rs-picker-toggle.rs-btn-md .rs-picker-toggle-caret, .rs-picker-toggle.rs-btn-md .rs-picker-toggle-clean {
    right: unset ;
    
    
      }
  div[dir="rtl"]   .rs-check-item .rs-checkbox-checker>label {
    cursor: pointer;
    display: block;
    line-height: 20px;
    padding: 8px 11px 8px 12px;
    position: relative;
  }
  .rs-picker-cleanable .rs-picker-tag-wrapper {
  margin-left: 5px !important;
  margin-right: 5px !important;
  }
  .staticCard{
    display: flex;
    border-radius: 8px;
    background-color: white;
    gap: 10px;
    padding: 10px;
  }
  .staticCard img{
    width: 62px;
    height: 62px;

    
  }
  .staticCard{
    align-items: center;
    height: 100%;
  }
  .staticCard p{
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
  .staticCard h2{
    color :#6A6E83;
    font-size: 16px;
  }
  .searchBar{
    position: relative  ;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 10px;  
    display: flex;
    border: 1px solid rgba(106, 110, 131,0.12) ;
    align-items: center;
  }
  .searchBar input {
    border: none;
    height: 100%;
    font-size: 18px;
    width: 100%;
  }
  .searchBar input:focus{
    outline: none;
  }
  .searchBar input::placeholder{
    font-size: 18px;
  }
  .formobile{
    min-width: 250px;
    cursor: pointer;
  }
  .overscrollMobile{
    user-select: none;
  }
  .overscrollMobile {
    scrollbar-width: thin;  /* For Firefox */
    scrollbar-color: transparent transparent;  /* For Firefox */
    overflow: -moz-scrollbars-none;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  .overscrollMobile::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
  }
  
@media(max-width:991px)
{
  .overscrollMobile{
    overflow-x: scroll;
  }
  .mobileScroller{
    min-width: 900px;
  }
}
.formobile p{
  color :#6A6E83;
  font-size: 16px;
}
.formobile h2{
  color :black;
  font-size: 18px;
}
.formobile.active{
  background-color: rgba(19, 180, 215,0.12) ;
  border: 1px solid #13B4D7;
}
.foodCard{
  padding: 10px;
  border-radius: 8px;
  height: 100%;
  background-color: white;

}
.foodCard img{
  width: 100%;

  border-radius: 8px;
}
.foodCard .add-icon{
width: 34px;
background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);
border-radius: 50%;
height: 34px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.foodCard h3{
  font-size: 16px;
}
.orderCheckCard{
  padding: 10px;
  background-color: white;
}
.number-active{
  border-radius: 8px;
  border: 1px solid rgba(86, 86, 86,0.2);
  display: flex;
  overflow: hidden;
}

.number-active input 
{
  border: none;
  width: 80%;
  padding: 10px;

  height: 100%;
}
.number-active button{
  background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);

  color: white;
  border: none;
  border-radius: 8px;
  width: 20%;
}
.addClient{
  background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);

  color: white;
  border: none;
  padding: 10px 0px;
  text-align: center;
  border-radius: 8px;
  width: 20%;
}
.order-btn{
  padding: 10px 5px;
  width: calc(100% /3);
  border-radius: 8px;
  display: flex;
  transition: 0.4s;
  position: relative;
  align-items: center;
  background-color: transparent;
  color: #6A6E83;
  justify-content: center;
  gap: 5px;
}
.order-btn.active
{
  background-color: transparent;

  color: white;

}
.order-btn img{
  filter: invert(40%) sepia(24%) saturate(320%) hue-rotate(192deg) brightness(100%) contrast(83%);
}

.order-btn.active img{
  filter: none;
}

.bottomCart{
  background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);

text-align: center;
color: white;
border-radius: 8px;
margin-top: 20px;
padding: 10px;
  max-width: 400px;
  cursor: pointer;
}

input:focus{
  outline: none;
}
.tabMarker{
  position: absolute;
  width: calc(100% / 4);
  background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);
  height: 100%;
  border-radius: 8px;
  transition: .4s;
}
.SelectCardStatus{
  display: flex;
  gap: 5px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-block: 11px;
  border: 1px solid rgba(86, 86, 86,0.2);
  width: 100%;
  background-color: white;
}
.SelectCardStatus .badge{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.KitchenCard{
  box-shadow: -1px 4px 11px 1px rgba(168,177,206,0.16);
  -webkit-box-shadow: -1px 4px 11px 1px rgba(168,177,206,0.16);
  padding: 20px;
  border-radius: 8px;
  -moz-box-shadow: -1px 4px 11px 1px rgba(168,177,206,0.16);
  width: 100%;
  background-color: white;
}

.KitchenCard .KitchenCardHeader
{
  border-bottom: 1px #A8B1CE solid;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.KitchenCard .KitchenCardHeaderImage h4{

font-size: 16px;
margin: 0;
}
.KitchenCardHeaderImage  img{
  min-width: 42px;
  max-height: 42px;
}
.KitchenCard .KitchenCardHeaderImage{
  gap: 10px;
}
.KitchenCard .KitchenCardHeaderImage p{
  font-size: 14px;
  margin: 0;
  color: #6A6E83;
}
.KitchenCard .KitchenCardHeader .icon{
  filter: invert(37%) sepia(86%) saturate(839%) hue-rotate(179deg) brightness(99%) contrast(94%);

}
.KitchenCardBody{
  margin-top: 10px;
}

.KitchenCardBody .SubmitBtn{
  background: linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);
  padding: 11px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}
.KitchenCardBody .SubmitBtn.ended{
background: rgba(31, 129, 227,0.2);
color: #1F81E2;
}
.forDesktop{

}
.KitchenCheckot .icon{
  filter: invert(37%) sepia(86%) saturate(839%) hue-rotate(179deg) brightness(99%) contrast(94%);
}
.forMobile{
display: none;

}
.forMobile .rs-dropdown-toggle-caret.rs-icon
{
  display: none;
}
.forMobile .rs-dropdown-toggle.rs-btn.rs-btn-default
{
  padding-right: 0px !important;
  background-color: white !important;
}
@media(max-width:991px)
{
  .forDesktop{
    display: none !important;
  }
  .forMobile{
    display: block;
  }
}
.PastOrder{
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.PastOrder .OrderNumber{
  background:linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);
  border-radius: 25px;
  padding: 5px 10px;

  color: white;
}
.PastOrder h2 {
font-size: 18px;
margin: 0;
}
.PastOrder span{
  font-size: 14px;
  color:#838689;
}
.PrintIcon{
  cursor: pointer;

  padding: 5px;
  background:linear-gradient(90deg, rgba(31,129,226,1) 0%, rgba(19,180,215,1) 100%);
  color: white;
  border-radius: 4px;
}
.EditICon{
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  color:#838689;
  border: 1px solid #dee2e6;
}
.CloseIcon{
  cursor: pointer;

  padding: 5px;
  background:linear-gradient(111.4deg, rgb(246, 4, 26) 0.4%, rgb(251, 139, 34) 100.2%);
  color: white;
  border-radius: 4px;
}